[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Tweetian
Exec=/usr/bin/invoker --splash=/opt/tweetian/splash/tweetian-splash-portrait.jpg --splash-landscape=/opt/tweetian/splash/tweetian-splash-landscape.jpg --type=d -s /opt/tweetian/bin/tweetian
Icon=/usr/share/icons/hicolor/80x80/apps/tweetian80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
